<clr-dropdown>
    <button type="button" class="btn btn-sm btn-outline-primary" clrDropdownTrigger>
        {{current_year || 'Current'}}
        <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
        <label class="dropdown-header">Select Year</label>
        <button type="button" [routerLink]="'/teams/current'" clrDropdownItem>Current</button>
        <button type="button" *ngFor="let year of [2016,2015,2014,2013,2012,2011,2010]" [routerLink]="'/teams/year/' + year" clrDropdownItem>{{year}}</button>
    </clr-dropdown-menu>
</clr-dropdown>
<div class="row" *ngIf="!current_year">
    <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12" *ngFor="let team of teamSvc.getTeams(true)">
        <div class="card">
            <div class="card-header">
                {{team.name}} ({{team.allTimeStats.wins}}-{{team.allTimeStats.losses}}-{{team.allTimeStats.ties}})
            </div>
            <div class="card-block">
                <div class="card-title">
                    {{team.owner}}
                </div>
                <div class="card-text">
                    {{team.email}}<br /><a [href]="'tel:+1-' + team.mobile">{{team.mobile}}</a>
                </div>
            </div>
            <!-- <div class="card-footer">
                <button class="btn btn-sm btn-link">Footer Action 1</button>
                <button class="btn btn-sm btn-link">Footer Action 2</button>
            </div> -->
        </div>
    </div>
</div>
<div class="row" *ngIf="current_year">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let team of getTeamByYear()">
        <div class="card">
            <div class="card-block row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div class="card-title">
                        {{team.owner}}
                    </div>
                    <div class="card-text">
                        {{team.stats[current_year].wins}}-{{team.stats[current_year].losses}}-{{team.stats[current_year].ties}}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <clr-icon *ngIf="team.stats[current_year].standing === 'champ'" size="48" shape="bffl-trophy"></clr-icon>
                    <clr-icon *ngIf="team.stats[current_year].standing === 'second'" size="48" shape="bffl-second"></clr-icon>
                    <clr-icon *ngIf="team.stats[current_year].standing === 'third'" size="48" shape="bffl-third"></clr-icon>
                    <clr-icon *ngIf="team.stats[current_year].standing === 'wreck'" size="48" shape="bffl-wreck"></clr-icon>
                </div>
            </div>
        </div>
    </div>
</div>